@import url('https://fonts.googleapis.com/css?family=Numans');

html,body {
    height: 100%;
    margin: 0;
    font-family: 'Numans', sans-serif;
}

#section-main{
    min-height: 70vh;
}

#table_div{
    width: 70%;
    margin-left: 50px;
    padding-top: 30px;
    padding-bottom: 100px;
}

#indexFooter{
    position: fixed;
    width: 20%;
    height: 100px;
    bottom: 0;
    right: 0;
    align-content: center;
}

.error-message {
    position: fixed;
    top: 20%;
    left: 45%;
    margin-left: -150px;
    width: 500px;
    word-wrap: break-word;
    z-index: 9999;
    background-color: tomato;
    color: white;
}

.reference{
    font-size: 0.4rem;
}

#logo-text{
    margin: auto;
    font-size: large;
    margin-top: 20px;
}

#logout-div{
    width: 200px;
    height: 100px;
    background-color: #BDBDBD;
    position: absolute;
    align-content: center;
    right: 0;
    /*top:0;*/
    z-index: 999;
}

#logout-link, #logout-name {
    margin: auto;
}

#navbar-ul-logout{
    display: none;
}

#ldap-form{
    display: none;
}

#scan-qr{
    font-size: small;
    color: #3b5998;
}

#logged-pop{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
    background-color: whitesmoke;
    min-width: 200px;
    width: 20%;
    min-height: 160px;
    height: 15%;
    padding: 1%;
}

#stats-h{
    font-size: small;
}

#log-statistics{
    font-size: small;
    margin: auto;
}

#login-container{
    margin-bottom: 100px;
    min-height: 75vh;
}